# Data processing 

In this session, we will learn about

1. Google colab platform
2. Importing data into the Google colab environment

Importing data

The following are ways by which we can read data into Google colab

1. Drag and drop
2. Google drive
3. Github
4. API 
5. Web scrapping

# Drag and drop

Use the file import tool to bring data into your colab environment.

Note that your file will disappear once the session ends.

# Google drive

You can upload your data to Google drive and import into Colab from there

In [ ]:
import pandas as pd


url = '/content/drive/MyDrive/osogbo.csv'

xx = pd.read_csv(url)
xx

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-01-01 00:01:14 UTC,37584,48.24,72.73,83.95,29296.0,-60.0,78.0,59.0,50.47,NaN
1,2021-01-01 00:03:14 UTC,37585,48.18,72.32,81.34,29298.0,-60.0,78.0,59.0,50.30,NaN
2,2021-01-01 00:05:14 UTC,37586,48.95,74.23,83.46,29300.0,-62.0,78.0,59.0,51.05,NaN
3,2021-01-01 00:07:14 UTC,37587,47.47,73.09,82.78,29302.0,-64.0,78.0,59.0,50.49,NaN
4,2021-01-01 00:09:14 UTC,37588,48.09,72.57,82.44,29304.0,-63.0,78.0,58.0,50.44,NaN
...,...,...,...,...,...,...,...,...,...,...,...
236395,2021-12-31 23:50:51 UTC,273979,52.54,70.86,88.53,773.0,-61.0,82.0,55.0,49.63,NaN
236396,2021-12-31 23:52:51 UTC,273980,53.40,72.86,90.23,775.0,-62.0,82.0,55.0,50.53,NaN
236397,2021-12-31 23:54:51 UTC,273981,51.96,70.60,87.96,777.0,-62.0,82.0,55.0,49.53,NaN
236398,2021-12-31 23:56:49 UTC,273982,53.50,71.91,85.33,779.0,-63.0,82.0,55.0,50.09,NaN
236399,2021-12-31 23:58:50 UTC,273983,52.23,71.63,90.40,781.0,-63.0,82.0,55.0,50.12,NaN

# Github

You can create an account on Github, upload the data there, and import into Colab.

Using Github as a repository has it's advantages

In [ ]:
url  = 'https://github.com/ogunjosam/CARNASRDA_python_training/raw/main/osogbo.csv'

xx = pd.read_csv(url)
xx

,created_at,entry_id,PM1.0_CF1_ug/m3,PM2.5_CF1_ug/m3,PM10.0_CF1_ug/m3,UptimeMinutes,RSSI_dbm,Temperature_F,Humidity_%,PM2.5_ATM_ug/m3,Unnamed: 10
0,2021-01-01 00:01:14 UTC,37584,48.24,72.73,83.95,29296.0,-60.0,78.0,59.0,50.47,NaN
1,2021-01-01 00:03:14 UTC,37585,48.18,72.32,81.34,29298.0,-60.0,78.0,59.0,50.30,NaN
2,2021-01-01 00:05:14 UTC,37586,48.95,74.23,83.46,29300.0,-62.0,78.0,59.0,51.05,NaN
3,2021-01-01 00:07:14 UTC,37587,47.47,73.09,82.78,29302.0,-64.0,78.0,59.0,50.49,NaN
4,2021-01-01 00:09:14 UTC,37588,48.09,72.57,82.44,29304.0,-63.0,78.0,58.0,50.44,NaN
...,...,...,...,...,...,...,...,...,...,...,...
236395,2021-12-31 23:50:51 UTC,273979,52.54,70.86,88.53,773.0,-61.0,82.0,55.0,49.63,NaN
236396,2021-12-31 23:52:51 UTC,273980,53.40,72.86,90.23,775.0,-62.0,82.0,55.0,50.53,NaN
236397,2021-12-31 23:54:51 UTC,273981,51.96,70.60,87.96,777.0,-62.0,82.0,55.0,49.53,NaN
236398,2021-12-31 23:56:49 UTC,273982,53.50,71.91,85.33,779.0,-63.0,82.0,55.0,50.09,NaN
236399,2021-12-31 23:58:50 UTC,273983,52.23,71.63,90.40,781.0,-63.0,82.0,55.0,50.12,NaN

# API Access

Most IoT services have API for data access.  This is the recommended approach in most cases.

## However, ....

In [ ]:
import requests
my_api = '912D94F9-38F9-11ED-B5AA-42010A800006'
def getSensorData(sensor_index):
  my_url = 'https://api.purpleair.com/v1/sensors/'+str(sensor_index)
  my_headers = {'X-API-Key':my_api}
  r = requests.get(my_url,headers=my_headers)

  return r

def getSensorHistory(sensor_index):
  fields_list = ['pm2.5_atm_a', 'pm2.5_atm_b', 'pm2.5_cf_1_a', 'pm2.5_cf_1_b', 'humidity', 'humidity_b', 
               'temperature', 'temperature_b', 'pressure', 'pressure_b']
  my_url = 'https://api.purpleair.com/v1/sensors/57207/history'
  for i,f in enumerate(fields_list):
      if (i == 0):
          my_url += f'?fields={f}'
      else:
          my_url += f'%2C{f}'
  my_headers = {'X-API-Key':my_api}
  r = requests.get(my_url,headers=my_headers)

  return r

In [ ]:
r = getSensorData(57207)
from io import StringIO
import json
import pandas as pd


r.content
son_data = json.loads(r.content)
son_data

{'api_version': 'V1.0.11-0.0.40',
 'time_stamp': 1664275466,
 'data_time_stamp': 1664275462,
 'sensor': {'sensor_index': 57207,
  'last_modified': 1604683510,
  'date_created': 1591392533,
  'last_seen': 1664275405,
  'private': 0,
  'is_owner': 0,
  'name': 'Atmospheric &amp; Space Weather Research Laboratory, Center for Atmospheric Research, Osun State University Campus, Osogbo, Nigeria.',
  'icon': 0,
  'location_type': 0,
  'model': 'PA-II-SD',
  'hardware': '2.0+OPENLOG+15582 MB+DS3231+BME280+PMSX003-B+PMSX003-A',
  'led_brightness': 35,
  'firmware_version': '7.00',
  'rssi': -62,
  'uptime': 22839,
  'pa_latency': 809,
  'memory': 15240,
  'position_rating': 0,
  'latitude': 7.759338,
  'longitude': 4.60346,
  'altitude': 1090,
  'channel_state': 3,
  'channel_flags': 0,
  'channel_flags_manual': 0,
  'channel_flags_auto': 0,
  'confidence': 99,
  'confidence_auto': 99,
  'confidence_manual': 99,
  'humidity': 60,
  'humidity_a': 60,
  'temperature': 86,
  'temperature_a': 86,
  'pressure': 977.48,
  'pressure_a': 977.48,
  'analog_input': 0.03,
  'pm1.0': 11.9,
  'pm1.0_a': 6.7,
  'pm1.0_b': 17.2,
  'pm2.5': 13.0,
  'pm2.5_a': 7.6,
  'pm2.5_b': 18.4,
  'pm2.5_alt': 9.3,
  'pm2.5_alt_a': 7.9,
  'pm2.5_alt_b': 10.7,
  'pm10.0': 14.7,
  'pm10.0_a': 11.0,
  'pm10.0_b': 18.4,
  'scattering_coefficient': 82.0,
  'scattering_coefficient_a': 76.5,
  'scattering_coefficient_b': 87.5,
  'deciviews': 23.8,
  'deciviews_a': 23.2,
  'deciviews_b': 24.4,
  'visual_range': 36.1,
  'visual_range_a': 38.3,
  'visual_range_b': 33.9,
  '0.3_um_count': 5466,
  '0.3_um_count_a': 5101,
  '0.3_um_count_b': 5832,
  '0.5_um_count': 636,
  '0.5_um_count_a': 434,
  '0.5_um_count_b': 838,
  '1.0_um_count': 26,
  '1.0_um_count_a': 27,
  '1.0_um_count_b': 26,
  '2.5_um_count': 2,
  '2.5_um_count_a': 5,
  '2.5_um_count_b': 0,
  '5.0_um_count': 2,
  '5.0_um_count_a': 4,
  '5.0_um_count_b': 0,
  '10.0_um_count': 2,
  '10.0_um_count_a': 4,
  '10.0_um_count_b': 0,
  'pm1.0_cf_1': 11.9,
  'pm1.0_cf_1_a': 6.67,
  'pm1.0_cf_1_b': 17.17,
  'pm1.0_atm': 11.9,
  'pm1.0_atm_a': 6.67,
  'pm1.0_atm_b': 17.17,
  'pm2.5_atm': 13.0,
  'pm2.5_atm_a': 7.64,
  'pm2.5_atm_b': 18.36,
  'pm2.5_cf_1': 13.0,
  'pm2.5_cf_1_a': 7.64,
  'pm2.5_cf_1_b': 18.36,
  'pm10.0_atm': 14.7,
  'pm10.0_atm_a': 11.02,
  'pm10.0_atm_b': 18.36,
  'pm10.0_cf_1': 14.7,
  'pm10.0_cf_1_a': 11.02,
  'pm10.0_cf_1_b': 18.36,
  'primary_id_a': 1076152,
  'primary_key_a': 'H0DUMW3LC63747Y8',
  'primary_id_b': 1076154,
  'primary_key_b': '52EPEMY5WESIL6BG',
  'secondary_id_a': 1076153,
  'secondary_key_a': '5SPAW8MALA5H9YPV',
  'secondary_id_b': 1076155,
  'secondary_key_b': 'N1NFD2I9DI45CRWC',
  'stats': {'pm2.5': 13.0,
   'pm2.5_10minute': 17.8,
   'pm2.5_30minute': 16.9,
   'pm2.5_60minute': 16.4,
   'pm2.5_6hour': 20.8,
   'pm2.5_24hour': 20.8,
   'pm2.5_1week': 23.1,
   'time_stamp': 1664275405},
  'stats_a': {'pm2.5': 7.6,
   'pm2.5_10minute': 8.9,
   'pm2.5_30minute': 9.8,
   'pm2.5_60minute': 12.3,
   'pm2.5_6hour': 21.3,
   'pm2.5_24hour': 21.3,
   'pm2.5_1week': 23.4,
   'time_stamp': 1664275405},
  'stats_b': {'pm2.5': 18.4,
   'pm2.5_10minute': 26.8,
   'pm2.5_30minute': 24.0,
   'pm2.5_60minute': 20.4,
   'pm2.5_6hour': 20.2,
   'pm2.5_24hour': 20.4,
   'pm2.5_1week': 22.8,
   'time_stamp': 1664275405}}}

In [ ]:
r = getSensorHistory(57207)
r.reason

'Forbidden'

# Web scrapping

There are some data that are directly on the internet without API.  Python can scrap the data from that site for you.

There is a package dedicated for this called 

_*BeautifulSoup*_ 

Let's take two examples to demonstrate the power of Python

## ISMIP data download

Here is the site

https://www.isimip.org/gettingstarted/details/4/

In [ ]:
import glob
import matplotlib.pyplot as plt
import urllib.request
import xarray as xr

for yr in range(1901,2000,10):

  url  = f'http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_{yr}_{yr+9}.nc'
  print(url)

  savename = url.split('/')[-1]

  urllib.request.urlretrieve(url, savename)

http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1901_1910.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1911_1920.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1921_1930.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1931_1940.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1941_1950.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1951_1960.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1961_1970.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1971_1980.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1981_1990.nc
http://esg.pik-potsdam.de/thredds/fileServer/isimip_dataroot/isimip2a/input/clim_atm_obs/GSWP3/historical/pr/daily/v20180927/pr_gswp3_1991_2000.nc

Download teleconnection data

https://psl.noaa.gov/data/climateindices/list/#PNA

In [ ]:
tel_ind = ['soi','nao','dmi.had','pdo']


cf = pd.DataFrame()
for i,ii in enumerate(tel_ind):
  print([i,ii])
  xx = pd.read_csv('https://psl.noaa.gov/gcos_wgsp/Timeseries/Data/'+ii+'.long.data',header=None, delim_whitespace=True,
            skipfooter=13,skiprows=1,engine='python',names=np.arange(0,13),index_col=0,comment='*',
            skip_blank_lines=True,error_bad_lines=False)
  xy = pd.date_range(start='1/1/'+str(xx.index[0]),end='31/12/'+str(xx.index[-1]),freq='M')
  xx = xx.to_numpy().reshape(-1)
  xz = pd.DataFrame(xx,index=xy)
  xz = xz[(xz.index > '1901/01/01') & (xz.index < '2012/01/01')]
  
  cf[str.split(ii,'.')[0]] = xz

fig, axes = plt.subplots(2,2, figsize=(10,9),sharex=True,sharey=False)
fig.subplots_adjust(hspace=0.0,wspace=1.0)
plt.tight_layout(h_pad=0,w_pad=1)
axf = axes.flatten()

for i, ii in enumerate(list(cf)):
  cf[ii].plot(ax=axf[i])
  axf[i].set_ylabel(ii.upper())

cf.to_excel('teleconnection_data.xlsx')

plt.savefig('fig1.eps', format='eps', dpi = 600,bbox_inches="tight")